:host {
  display: block;
  margin-top: 1rem;
}
/* mat-expansion-panel {
  font-size: 1.25em;
  background-color: white;
  background: white;
  color: #00838f;
  font-weight: 500;
} */
.info-text {
  text-align: center;
}
 mat-spinner {
   margin: auto;
 }
 mat-paginator {
  margin-top: 1rem;
 }
 .post-image {
  width: 50%;
 }

 .post-image img{
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
 }
